<div class="card-body">
  <div class="row">
    <ng-container *ngIf="display != true">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2>Existing Customer
              <a (click)="open(mymodal)" class="btn btn-sm btn-primary cursor-pointer float-right" style="float:right"
                data-bs-toggle="modal" data-bs-target="#kt_modal_create_app" id="kt_toolbar_primary_button">+</a>
            </h2>


            <ng-template #mymodal let-modal>

              <div class="modal-header">

                <h2 class="modal-title" id="modal-basic-title">Add New Customer</h2>

                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

                  <span aria-hidden="true">×</span>

                </button>

              </div>



              <ng-container *ngIf="addedSuccess != true">
                <div class="modal-body">
                  <div class="card">
                    <div class="card-body m-5 rounded bg-light">
                      <h2>Login details</h2>
                      <div class="form-floating mb-7">
                        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="dataAdd.LISalution"
                          placeholder="Salution" />
                        <label for="floatingInput">Salution</label>
                      </div>
                      <div class="form-floating mb-7">
                        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="dataAdd.LIFirstName"
                          placeholder="First Name " />
                        <label for="floatingInput">First Name</label>
                      </div>
                      <div class="form-floating mb-7">
                        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="dataAdd.LISecondName"
                          placeholder="Second Name" />
                        <label for="floatingInput">Second Name</label>
                      </div>
                      <div class="form-floating mb-7">
                        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="dataAdd.LIMobile"
                          placeholder="Mobile" />
                        <label for="floatingInput">Mobile</label>
                      </div>
                      <div class="form-floating mb-7">
                        <input type="email" class="form-control" id="floatingInput" [(ngModel)]="dataAdd.LIPassword"
                          placeholder="Password" />
                        <label for="floatingInput">Password</label>
                      </div>
                      <br><br>
                      <a class="btn btn-sm btn-primary cursor-pointer" (click)='add()'>Add</a>
                    </div>
                  </div>
                </div>
              </ng-container>





              <ng-container *ngIf="addedSuccess == true">
                <div class="modal-body">
                  <h4> New Customer added successfully</h4>
                </div>
              </ng-container>

              <ng-container *ngIf="addedSuccess != true">
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark"
                    (click)="modal.close('Save click'); ngOnInit()">Close</button>
                </div>
              </ng-container>

              <ng-container *ngIf="addedSuccess == true">
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark"
                    (click)="modal.close('Save click'); ngOnInit()">Ok</button>
                </div>
              </ng-container>
            </ng-template>


            <form data-kt-search-element="form" class="w-100 position-relative mb-3" autocomplete="off">
              <!--begin::Icon-->
              <span [inlineSVG]="'./assets/media/icons/duotune/general/gen021.svg'"
                class="svg-icon svg-icon-2 svg-icon-lg-1 svg-icon-gray-500 position-absolute top-50 translate-middle-y ms-0"></span>
              <!--end::Icon-->

              <!--begin::Input-->
              <input type="text" class="form-control form-control-flush ps-10" data-kt-search-element="input"
                name="name1" [(ngModel)]="name1" (ngModelChange)="search1()" placeholder="Type name/mob"
                autocomplete='off' />
              <!--end::Input-->

              <!--end::Toolbar-->
            </form>
            <hr>
            <div>
              <select class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Select option"
                data-allow-clear="true" [(ngModel)]="userSelection" #mySelect>
                <!-- <option selected value> -- select a customer -- </option> -->
                <option *ngFor=" let c of cust" value="{{c.customer_id}}">
                  <p>{{c.first_name}} {{c.second_name}} {{c.mobile}}</p>
                </option>
              </select>
              <br><br>
              <a class="btn btn-sm btn-primary cursor-pointer" (click)='onSelect(mySelect.value)'>Confirm</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="display == true">

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2>Customer</h2>

            <div>
              <ng-container *ngIf="address != undefined">
                {{custDet?.first_name}}<br />
                {{custDet?.mobile}}<br /><br>

                <a class="btn btn-sm btn-primary cursor-pointer" (click)="open(mymodal)">Add New Address</a>
                <br>

                <ng-template #mymodal let-modal>

                  <div class="modal-header">

                    <h2 class="modal-title" id="modal-basic-title">New Customer Address</h2>

                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">

                      <span aria-hidden="true"> X </span>

                    </button>

                  </div>

                  <div class="modal-body">
                    <app-add-customer-address-admin-side></app-add-customer-address-admin-side>
                  </div>

                  <div class="modal-footer">

                    <button type="button" class="btn btn-outline-dark"
                      (click)="modal.close('Save click'); addAddress()">Close</button>

                  </div>

                </ng-template>
              </ng-container>
            </div>


          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<div align="center">
  <!-- <ng-container *ngIf="address != undefined" align="center">
    <p>{{custDet?.first_name}}</p>
  </ng-container> -->
</div>
<ng-container *ngIf="display == true">
  <ng-container *ngIf="noAddress != true">




    <div class="card-body ">
      <div class="row gx-9 gy-6">
        <!--begin::Col-->
        <div class="col-xl-6">
          <!--begin::Address-->
          <div class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6">
            <!--begin::Details-->
            <div class="d-flex flex-column py-2">
              <div class="d-flex align-items-center fs-5 fw-bolder mb-5">Shipping Address
                <!-- <span class="badge badge-light-success fs-7 ms-2">Primary</span> -->
              </div>
              <div class="fs-6 fw-bold text-gray-600">
                <ng-container *ngIf="Saddress != undefined">
                  <div style=" padding-inline: 10px 10px 10px 10px"
                    style="display: inline-block;  padding-inline: 10px">
                    <ng-container *ngIf="oneAddress != true">
                      <select class="form-select form-select-solid" data-kt-select2="true"
                        data-placeholder="Select option" data-allow-clear="true" [(ngModel)]="userSelection" #mySelect
                        (change)='onSelectQ(mySelect.value)'>
                        <option *ngFor=" let c of Saddress; let i=index" value="{{i}}">
                          <p>{{c.first_name}} {{c.second_name}} {{c.company_name}}({{c.branch}}) {{c.mobile}}</p>
                        </option>
                      </select>
                    </ng-container>
                  </div>
                  <br />
                  {{selectedAddress?.first_name}} {{selectedAddress?.second_name}}<br />
                  {{selectedAddress?.company_name}}<br />
                  {{selectedAddress?.address1}}<br />
                  {{selectedAddress?.address2}}<br />
                  {{selectedAddress?.city}} {{selectedAddress?.pincode}}<br />
                  {{selectedAddress?.State}} {{selectedAddress?.country}}<br />
                  {{selectedAddress?.mobile}}<br />
                </ng-container>
              </div>
            </div>
            <!--end::Details-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-2">
              <a class="btn btn-sm btn-primary cursor-pointer">Edit</a>


            </div>
            <!--end::Actions-->
          </div>
          <!--end::Address-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-6">
          <!--begin::Address-->
          <div class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6">
            <!--begin::Details-->
            <div class="d-flex flex-column py-2">
              <div class="d-flex align-items-center fs-5 fw-bolder mb-3">Billing Address</div>
              <div class="fs-6 fw-bold text-gray-600">
                <ng-container *ngIf="address != undefined">
                  <div style=" padding-inline: 10px 10px 10px 10px" style="display: inline-block; padding-inline: 10px">
                    <ng-container *ngIf="oneAddress != true">
                      <select class="form-select form-select-solid" data-kt-select2="true"
                        data-placeholder="Select option" data-allow-clear="true" [(ngModel)]="SuserSelection" #mySelect1
                        (change)='onSelectS(mySelect1.value)'>
                        <option *ngFor=" let c of address; let id=index" value="{{id}}">
                          <p>{{c.first_name}} {{c.second_name}} {{c.company_name}}({{c.branch}}) {{c.mobile}}</p>
                        </option>
                      </select>
                    </ng-container>
                  </div>
                  <br />
                  {{selectedSAddress?.first_name}} {{selectedSAddress?.second_name}}<br />
                  {{selectedSAddress?.company_name}}<br />
                  {{selectedSAddress?.address1}}<br />
                  {{selectedSAddress?.address2}}<br />
                  {{selectedSAddress?.city}} {{selectedSAddress?.pincode}}<br />
                  {{selectedSAddress?.State}} {{selectedSAddress?.country}}<br />
                  {{selectedSAddress?.mobile}}<br />


                </ng-container>


              </div>
            </div>
            <!--end::Details-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center py-2">

              <a class="btn btn-sm btn-primary cursor-pointer" data-bs-toggle="modal"
                data-bs-target="#kt_modal_new_address">Edit</a>

            </div>
            <!--end::Actions-->
          </div>
          <!--end::Address-->
        </div>
        <!--end::Col-->
      </div>
    </div>


  </ng-container>
  <div align="center">
    <ng-container *ngIf="address != undefined">
    </ng-container>
  </div>


  <!-- Product table starts here -->


  <div class="card-body">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3 mb-1"> Product Search</span>
            <!-- <span class="text-muted mt-1 fw-bold fs-7">Over 500 orders</span> -->
          </h3>
          <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="search()"
            placeholder="Enter product to search" autocomplete='off'>
          <ng-container *ngIf="product != undefined">
            <div>
              <select class="form-select form-select-solid col-xs-2" data-kt-select2="true"
                data-placeholder="Select option" data-allow-clear="true" [(ngModel)]="productSelection" #mySelect
                (change)='OnSelect(mySelect.value)'>
                <!-- <option selected value> -- select a product -- </option> -->
                <option *ngFor=" let p of product" value="{{p.id}}">
                  <p>{{p.name}}</p>
                </option>
              </select>
            </div>
            <p>Quantity</p>
            <input class="form-control mb-2" [(ngModel)]="quantity" type="number">
            <!-- <input type="text" name="price" class="form-control mb-2" placeholder="Product price" value="" /> -->

            <button class="btn btn-sm btn-primary cursor-pointer" (click)="addFunction()">Add</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <!-- Ends Here -->




  <!--begin::Tables Widget 13-->
  <div class="card mb-5 mb-xl-8 p-5">
    <!--begin::Header-->
    <div class="card-header border-0 pt-5">
      <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Order Table</span>
        <!-- <span class="text-muted mt-1 fw-bold fs-7">Over 500 orders</span> -->
      </h3>
      <div class="card-toolbar">
        <!--begin::Menu-->



        <br><br>
        <div class="d-flex align-items-center fs-5 fw-bolder mb-5 p-2">
          (Excl tax) <input class="form-check-input" type="checkbox" [(ngModel)]="isChecked"
            (change)="checkBoxOnSelect()"></div>

        <!--end::Menu-->
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body py-3">
      <!--begin::Table container-->
      <div class="table-responsive">

        <table class="table table-bordered">
          <thead>
            <tr class="fw-bolder text-muted">
              <th class="min-w-150px">Product</th>
              <ng-container *ngIf="isChecked != true">
                <!-- <th scope="col">tax rate %</th> -->
                <th class="min-w-140px">Unit Price</th>
              </ng-container>
              <th class="min-w-140px">Discount</th>
              <th class="min-w-120px">Price After Discount</th>
              <th class="min-w-90px">Quantity</th>
              <th class="min-w-120px">Line Total</th>
              <!-- <ng-container *ngIf="isChecked != true">
                    <ng-container *ngIf="isIgst != true">
                      <th scope="col">CGST</th>
                      <th scope="col">SGST</th>
                    </ng-container>
                    <ng-container *ngIf="isIgst == true">
                      <th scope="col">IGST</th>
                    </ng-container>
                  </ng-container> -->
              <!-- <th scope="col">Line Tax</th> -->
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <ng-container *ngIf="quoteTempData.data[0].numInQuote !== 0">
            <!-- tax rate....   CGST.... SGST.....IGST.....(With quantity) -->
            <tbody>
              <tr *ngFor="let q of quoteTempData.data; let i=index">
                <td class="product-name">
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">Incl Tax:
                    {{q.product.name}}</a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">SKU: UD</span>
                </td>
                <ng-container *ngIf="isChecked != true">
                  <!-- <td>
                        <p>{{q.tax}}</p>
                      </td> -->
                  <td class="product-price">
                    <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">Incl Tax:
                      {{q.priceInclTax | currency:'INR'}}</a>
                    <span class="text-muted fw-bold text-muted d-block fs-7">Excl Tax: {{q.product.price |
                      currency:'INR'}}</span>
                    <!-- <span class="unit-amount">{{taxCalculationLocal(i)}}</span> -->
                  </td>
                </ng-container>
                <ng-container *ngIf="isChecked == true">
                  <td>
                    <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">{{q.product.price |
                      currency:'INR'}}</a>
                  </td>
                </ng-container>

                <td>
                  <input maxlength="6" size="6" class="form-control" [(ngModel)]="q.discount"
                    (input)="discountOnChange(i)">
                  <!-- <p>{{q.discount}}</p> -->
                </td>
                <td>
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">{{q.lineDiscountPrice |
                    currency:'INR'}}</a>
                  <!-- <p>{{calculateLineDiscountPrice(i)}}</p> -->
                </td>
                <td class="product-quantity">
                  <form>
                    <div class="input-counter">
                      <!-- <input type="number" id="number" [value]="q.numInQuote" readonly [max]="q.product.quantity" /> -->
                      <!-- <p>{{q.numInQuote}}</p> -->
                      <input min="0" max="9999" class="form-control" min="0" required id="quantity" type="number"
                        [(ngModel)]="q.numInQuote" (input)="discountOnChange(i)" name="quantity">
                    </div>
                  </form>
                </td>
                <td class="product-subtotal">
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">{{q.linetotal |
                    currency:'INR'}}</a>

                  <!-- //quoteService.CalculateQuoteSubTotal(i) -->
                </td>
                <!-- <ng-container *ngIf="isChecked != true">
                      <ng-container *ngIf="isIgst != true">

                        <td>
                          <p>{{q.cgst}}</p>
                           {{calculateLineTax(i)}} -->
                <!--</td>
                        <td>
                          <p>{{q.sgst}}</p>
                           <p>{{calculateLineTax(i)}}</p> -->
                <!--</td>
                      </ng-container>
                      <ng-container *ngIf="isIgst == true">
                        <td>
                           <p>{{q.igst}}</p> -->
                <!-- <p>{{calculateLineTax(i)}}</p> -->
                <!--</td>
                      </ng-container>
                    </ng-container> -->
                <!-- <td> -->
                <!-- <p>{{q.linetax}}</p> -->
                <!-- <p>{{q.igst}}</p>
                    </td> -->
                <td>
                  <!-- <i class='bx bx-edit'></i> -->
                  <!-- <a (click)="deleteProduct(i)"><i class='bx bx-trash'></i></a> -->
                  <button (click)="deleteProduct(i)">X</button>
                </td>
              </tr>

            </tbody>
          </ng-container>

        </table>

      </div>
    </div>
  </div>

  <div class="card-body ">

    <div class="row">

      <!-- <p>{{SummaryValue}}, {{summaryTaxDiv[0]}}, line tax {{quoteTempData.data[0].igst}}, </p> -->
      <ng-container *ngIf="quoteTempData.data[0].numInQuote !== 0">
        <div class="col-sm-6 p-5">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title align-items-start flex-column">

                <span class="card-label fw-bolder fs-3 mb-1"> Quote Summary</span>
              </h3>

              <ul>
                <!-- <li>Sub Total <span>{{quoteTempTotal | currency:'INR'}}</span></li>
            <li>Discount <span>{{quoteTempTotal | currency:'INR'}}</span></li>
            <li>Sub Total after Discount <span>{{quoteTempTotal | currency:'INR'}}</span></li>

            <li>GST Tax <span>{{quoteTempTotal | currency:'INR'}}</span></li> -->
                <!-- <li>Sub Total: under construction </li> -->
                <!-- <p>Sub Total(Without tax): {{subtotalWithoutTax}}</p>
                <ng-container *ngIf="isChecked != true">
                  <ng-container *ngIf="isIgst == true">
                    Total Tax : {{totalIgst}} -->
                <!-- {{totalTax}} -->
                <!-- </ng-container>
                    <ng-container *ngIf="isIgst == false">
                  <p>CGST : {{totalCgst}}</p>
                  <p>SGST : {{totalSgst}}</p>

                    </ng-container>
                </ng-container> -->
                <p>Total(Including tax): <span>{{quoteTempTotal | currency:'INR'}}</span></p>
                <p>Total Quantity: <span>{{quoteTempTotalQuantity}}</span></p>

              </ul>
              <!-- <a routerLink="/checkout" class="default-btn"><i class='bx bx-shopping-bag icon-arrow before'></i><span class="label">Proceed to Checkout</span><i class="bx bx-shopping-bag icon-arrow after"></i></a> -->
            </div>
          </div>
        </div>
      </ng-container>

      <div class="card-body ">

        <a class="btn btn-sm btn-primary cursor-pointer" (click)="save2()">Save</a>
      </div>