<div class="card-body ">
  <div class="row gx-9 gy-6">
    <!--begin::Col-->
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <h2>View Order</h2>
          <div class="container">

            <h3>Customer</h3>
            <h4>
              {{quotationNTB?.FirstName}}<br />
              {{quotationNTB?.mobile}}
            </h4>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div>
              <a href="ordersList/editOrder/{{id}}" class="btn btn-sm btn-primary cursor-pointer float-right"
                (click)='edit()'>Edit</a>
            </div><br><br>
            <div>
              <a href="#" class="btn btn-sm btn-primary cursor-pointer float-right" (click)='edit()'>Cash
                Invoice</a>
            </div><br><br>
            <div>
              <a href="#" class="btn btn-sm btn-primary cursor-pointer float-right" (click)='edit()'>Tax Invoice</a>
            </div><br><br>
            <div>
              <a href="#" class="btn btn-sm btn-primary cursor-pointer float-right" (click)='edit()'>Delivery
                challan</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="card">
        <div class="card-header p-3 d-flex align-items-center">
          <h2>Order Details</h2>
          <i class="bi bi-printer fa-2x"></i>
          <i class="bi bi-download fa-2x"></i>
          <i class="bi bi-whatsapp fa-2x"></i>
          <i class="bi bi-envelope fa-2x"></i>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <tr>
              <th>Quotation:</th>
              <td>#</td>
              <td>xxxx</td>
            </tr>
            <tr>
              <th>Quotation Date :</th>
              <td>#</td>
              <td>xxxx</td>
            </tr>
            <tr>
              <th>Delivery Slip:</th>
              <td>#</td>
              <td>xxxx</td>
            </tr>
            <tr>
              <th>Back Order:</th>
              <td>#</td>
              <td>xxxx</td>
            </tr>
            <tr>
              <th>Invoice:</th>
              <td>#</td>
              <td>xxxx</td>
            </tr>
            <tr>
              <th>Invoice Date:</th>
              <td>#</td>
              <td>xxxx</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="card-body ">
  <div class="row gx-9 gy-6">
    <!--begin::Col-->
    <div class="col-xl-6">
      <!--begin::Address-->
      <div class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6">
        <!--begin::Details-->
        <div class="d-flex flex-column py-2">
          <div class="d-flex align-items-center fs-5 fw-bolder mb-5">Shipping Address
            <!-- <span class="badge badge-light-success fs-7 ms-2">Primary</span> -->
          </div>
          <div class="fs-6 fw-bold text-gray-600">
            <div style=" padding-inline: 10px 10px 10px 10px" style="display: inline-block;  padding-inline: 10px">

            </div>
            <br />


            {{quotationNTB?.first_name}} {{quotationNTB?.second_name}}<br />
            {{quotationNTB?.company_name}}<br />
            {{quotationNTB?.address1}}<br />
            {{quotationNTB?.address2}}<br />
            {{quotationNTB?.city}} {{quotationNTB?.pincode}}<br />
            {{stateName}} {{countryName}}<br />
            {{quotationNTB?.mobile}}<br />

          </div>
        </div>
        <!--end::Details-->
        <!--begin::Actions-->
        <!-- <div class="d-flex align-items-center py-2">
            <a class="btn btn-sm btn-primary cursor-pointer">Edit</a>


          </div> -->
        <!--end::Actions-->
      </div>
      <!--end::Address-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-6">
      <!--begin::Address-->
      <div class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6">
        <!--begin::Details-->
        <div class="d-flex flex-column py-2">
          <div class="d-flex align-items-center fs-5 fw-bolder mb-3">Billing Address</div>
          <div class="fs-6 fw-bold text-gray-600">
            <div style=" padding-inline: 10px 10px 10px 10px" style="display: inline-block; padding-inline: 10px">
            </div>
            <br />
            {{bAddress?.first_name}} {{bAddress?.second_name}}<br />
            {{bAddress?.company_name}}<br />
            {{bAddress?.address1}}<br />
            {{bAddress?.address2}}<br />
            {{bAddress?.city}} {{bAddress?.pincode}}<br />
            {{BstateName}} {{BcountryName}}<br />
            {{bAddress?.mobile}}<br />
          </div>
        </div>
        <!--end::Details-->
        <!--begin::Actions-->
        <!-- <div class="d-flex align-items-center py-2">

            <a class="btn btn-sm btn-primary cursor-pointer" data-bs-toggle="modal"
              data-bs-target="#kt_modal_new_address">Edit</a>

          </div> -->
        <!--end::Actions-->
      </div>
      <!--end::Address-->
    </div>
    <!--end::Col-->
  </div>


  <div align="center">

  </div>
</div>







<!-- <h3>Order Detail</h3> -->

<div class="cart-area ptb-100">
  <div class="container">
    <!-- <h3><b>{{quotationNTB?.FirstName}}</b></h3>
        <h3><b>{{quotationNTB?.branch}}</b></h3>
        <br> -->
    <!-- <div style="display: flex;">
            <div style="display: inline-block;  padding-inline: 10px">
                <h3>Shipping Address</h3>
                <p>{{quotationNTB?.first_name}} {{quotationNTB?.second_name}}</p>
                <p>{{quotationNTB?.company_name}}</p>
                <p>{{quotationNTB?.mobile}}</p>
                <P>{{quotationNTB?.address1}}</P>
                <P>{{quotationNTB?.address2}}</P>
                <p>{{quotationNTB?.city}} {{quotationNTB?.pincode}}</p>
                <p>{{quotationNTB?.state_id}} {{quotationNTB?.country_id}}</p>
            </div>
            <br><br>
            <div style="display: inline-block;  padding-inline: 10px">
                <h3>Billing Address</h3>
                <p>{{quotationNTB?.first_name}} {{quotationNTB?.second_name}}</p>
                <p>{{bAddress?.company_name}}</p>
                <p>{{bAddress?.mobile}}</p>
                <P>{{bAddress?.address1}}</P>
                <P>{{bAddress?.address2}}</P>
                <p>{{bAddress?.city}} {{bAddress?.pincode}}</p>
                <p>{{bAddress?.state_id}} {{bAddress?.country_id}}</p>
            </div>

        </div>
        <br><br> -->

    <div class="card mb-5 mb-xl-8 p-5">
      <div class="card-body py-3">
        <!--begin::Table container-->
        <div class="table-responsive">
          <!--begin::Table-->
          <table class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3">
            <thead>
              <tr class="fw-bolder text-muted">
                <th scope="col">Product</th>
                <!-- <th scope="col">tax rate</th> -->
                <th scope="col">Unit Price</th>
                <th scope="col">Discount</th>
                <th scope="col">Discounted Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Line Total</th>
                <!-- <ng-container *ngIf="isIgst != true">
                        <th scope="col">CGST</th>
                        <th scope="col">SGST</th>
                        </ng-container>
                        <ng-container *ngIf="isIgst == true">
                        <th scope="col">IGST</th>
                        </ng-container> -->
                <!-- <th scope="col">Update/Delete</th> -->
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let q of quotationDetail; let i=index">
                <td class="product-name">
                  <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">{{q.title}}</a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">SKU: UD</span>
                </td>
                <!-- <td class="product-name">
                            <a>{{q.tax_rate}}</a>
                        </td> -->
                <td class="product-price">
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">Incl Tax:
                    {{q.price_after_tax | currency:'INR'}}</a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">Excl Tax: {{q.price |
                    currency:'INR'}}</span>
                </td>
                <td class="product-price">
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                    {{q.discount | currency:'INR'}}</a>
                </td>
                <td class="product-price">
                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                    Incl Tax: {{q.line_discount_price | currency:'INR'}}</a>
                  <span class="text-muted fw-bold text-muted d-block fs-7">Excl Tax: {{q.line_discount_price_wo_tax |
                    currency:'INR'}}</span>
                </td>
                <td class="product-quantity">
                  <form>
                    <div class="input-counter">
                      <!-- <input type="number" id="number" [value]="q.numInQuote" readonly [max]="q.product.quantity" /> -->
                      <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                        {{q.quantity}}</a>
                    </div>
                  </form>
                </td>
                <td class="product-subtotal">

                  <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                    {{q.line_total | currency:'INR'}}</a>

                  <ng-container *ngIf="isIgst == true">
                    <span class="text-muted fw-bold text-muted d-block fs-7">IGST: {{q.igst | currency:'INR'}}</span>
                  </ng-container>

                  <ng-container *ngIf="isIgst != true">
                    <span class="text-muted fw-bold text-muted d-block fs-7">CGST: {{q.cgst | currency:'INR'}}</span>
                    <span class="text-muted fw-bold text-muted d-block fs-7">SGST: {{q.sgst | currency:'INR'}}</span>

                  </ng-container>


                </td>
                <!-- <ng-container *ngIf="isIgst != true">
                        <td class="product-price">
                            <span class="unit-amount">{{q.cgst}}</span>
                        </td>
                        <td class="product-price">
                            <span class="unit-amount">{{q.sgst}}</span>
                        </td>
                        </ng-container>
                        <ng-container *ngIf="isIgst == true">

                        <td class="product-price">
                            <span class="unit-amount">{{q.igst}}</span>
                        </td>
                        </ng-container> -->
              </tr>

            </tbody>

          </table>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6 p-5 float-right">
        <div class="card ">
          <div class="card-body">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label fw-bolder fs-3 mb-1"> Sales Summary</span>
            </h3>

            <table class="table table-bordered">
              <tr>
                <th>Sales Person:</th>
                <td>#</td>
                <td>XXXXXX</td>
              </tr>
              <tr>
                <th>Region :</th>
                <td>#</td>
                <td>XXXXXX</td>
              </tr>
              <tr>
                <th>Affiliate:</th>
                <td>#</td>
                <td>XXXXXX</td>
              </tr>
              <tr>
                <th>Affiliate %:</th>
                <td>#</td>
                <td>XXXXXX</td>
              </tr>
            </table>

          </div>
        </div>
      </div>



      <div class="col-sm-6 p-5 float-right">
        <div class="card ">
          <div class="card-body">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label fw-bolder fs-3 mb-1"> Order Summary</span>
              <!-- <span class="text-muted mt-1 fw-bold fs-7">Over 500 orders</span> -->
            </h3>
            <!-- <li>Sub Total <span>{{quoteTempTotal | currency:'INR'}}</span></li>
                <li>Discount <span>{{quoteTempTotal | currency:'INR'}}</span></li>
                <li>Sub Total after Discount <span>{{quoteTempTotal | currency:'INR'}}</span></li>
    
                <li>GST Tax <span>{{quoteTempTotal | currency:'INR'}}</span></li> -->
            <!-- <li>Sub Total: under construction </li> -->


            <table class="table table-bordered">

              <!-- <ng-container *ngIf="isChecked != true"> -->

              <tr>
                <th>Sub Total W/O tax:</th>
                <td>{{quotationNTB?.sub_total | currency:'INR'}}</td>
              </tr>

              <!-- </ng-container> -->

              <!-- <ng-container *ngIf="isChecked != true"> -->
              <ng-container *ngIf="isIgst == true">

                <tr>
                  <th>IGST :</th>
                  <td>{{quotationNTB?.total_igst | currency:'INR'}}</td>

                </tr>
              </ng-container>

              <ng-container *ngIf="isIgst != true">
                <tr>
                  <th>Total CGST :</th>
                  <td>{{quotationNTB?.total_cgst | currency:'INR'}}</td>
                </tr>
                <tr>
                  <th>Total SGST :</th>
                  <td>{{quotationNTB?.total_sgst | currency:'INR'}}</td>
                </tr>
              </ng-container>
              <!-- </ng-container> -->
              <tr>
                <th>Final Total:</th>
                <td>{{quotationNTB?.total | currency:'INR'}}</td>
              </tr>
            </table>
            <!-- <a routerLink="/checkout" class="default-btn"><i class='bx bx-shopping-bag icon-arrow before'></i><span class="label">Proceed to Checkout</span><i class="bx bx-shopping-bag icon-arrow after"></i></a> -->
          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-sm-6 p-5 float-right">
        <div class="card ">
          <div class="card-body">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label fw-bolder fs-3 mb-1"> Shipping</span>
            </h3>
          </div>
        </div>
      </div>

      <div class="col-sm-6 p-5 float-right">
        <div class="card ">
          <div class="card-body">
            <h3 class="card-title align-items-start flex-column">
              <span class="card-label fw-bolder fs-3 mb-1"> Payment</span>
            </h3>
          </div>
        </div>
      </div>

    </div>




    <!-- <button (click)="addToQuote()">Create Order</button><br><br> -->

    <!-- <button>Move to Order</button><br><br> -->
    <!-- <button>Move to Backorder - pos </button><br><br> -->

    <a href="ordersList" class="btn btn-sm btn-primary cursor-pointer float-right" (click)='edit()'>Back</a>



  </div>
</div>

<table>

</table>