<div class="card-body ">
    <div class="row gx-9 gy-6">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h2>View Delivery Challan</h2>
                    <div class="container">
                        <h3>Customer</h3>
                        {{deliveryChallan1?.first_name}} {{deliveryChallan1?.second_name}}<br />
                        {{deliveryChallan1?.mobile}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!-- <div>
                            <a href="backorderList/backorderView/backorderEdit/{{id}}" class="btn btn-sm btn-primary cursor-pointer float-right"
                                (click)='edit()'>Edit</a>
                        </div><br><br>
                        <div>
                            <a href="#" class="btn btn-sm btn-primary cursor-pointer float-right" (click)='edit()'>Cash
                                Invoice</a>
                        </div><br><br>
                        <div>
                            <a href="#" class="btn btn-sm btn-primary cursor-pointer float-right" (click)='edit()'>Tax
                                Invoice</a>
                        </div><br><br>
                        <div>
                            <a href="#" class="btn btn-sm btn-primary cursor-pointer float-right"
                                (click)='edit()'>Delivery
                                challan</a>
                        </div> -->

                        Delivery Challan id: {{deliveryChallan1?.delivery_challan_id}}<br>
                        Date               : {{deliveryChallan1?.created| date : 'dd-MM-yyyy'}}
                    </div>
                </div>
            </div>
        </div>





        <div class="card-body ">
            <div class="row gx-9 gy-6">
                <!--begin::Col-->
                <div class="col-xl-6">
                    <!--begin::Address-->
                    <div class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6">
                        <!--begin::Details-->
                        <div class="d-flex flex-column py-2">
                            <div class="d-flex align-items-center fs-5 fw-bolder mb-5">Shipping Address
                                <!-- <span class="badge badge-light-success fs-7 ms-2">Primary</span> -->
                            </div>
                            <div class="fs-6 fw-bold text-gray-600">
                                {{deliveryChallan1?.first_name}} {{deliveryChallan1?.second_name}}<br />
                                {{deliveryChallan1?.company_name}}<br />
                                {{deliveryChallan1?.address1}}<br />
                                {{deliveryChallan1?.address2}}<br />
                                {{deliveryChallan1?.city}} {{deliveryChallan1?.pincode}}<br />
                                {{deliveryChallan1?.state}} {{deliveryChallan1?.country}}<br />
                                 <!-- {{stateName}} {{countryName}}<br /> -->
                               {{deliveryChallan1?.mobile}}<br />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6">
                        <div class="d-flex flex-column py-2">
                            <div class="d-flex align-items-center fs-5 fw-bolder mb-3">Billing Address</div>
                            <div class="fs-6 fw-bold text-gray-600">
                                {{deliveryChallan1?.first_name}} {{deliveryChallan1?.second_name}}<br />
                                {{bAddress?.company_name}}<br />
                                {{bAddress?.address1}}<br />
                                {{bAddress?.address2}}<br />
                                {{bAddress?.city}} {{bAddress?.pincode}}<br />
                                {{bAddress?.state}} {{bAddress?.country}}<br />
                                {{bAddress?.mobile}}<br /> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center">
            </div>
        </div>



        <div class="cart-area ptb-100">
            <div class="card mb-5 mb-xl-8 p-5">
                <div class="card-body py-3">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="fw-bolder text-muted">
                                    <th scope="col">Product</th>
                                    <!-- <th scope="col">tax rate</th> -->
                                    <th scope="col">Price</th>
                                    <!-- <th scope="col">Discount</th> -->
                                    <!-- <th scope="col">Price After Discount</th> -->
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Line Total</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let q of deliveryChallan; let i=index">
                                    <td class="product-name">
                                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-6">{{q.title}}</a>
                                        <span class="text-muted fw-bold text-muted d-block fs-7">SKU: UD</span>
                                    </td>
                                    <!-- <td class="product-price">
                                        <a href="#"
                                            class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                            {{q.price | currency:'INR'}}</a>
                                         <span class="text-muted fw-bold text-muted d-block fs-7">Excl Tax: {{q.price |
                                            currency:'INR'}}</span>
                                    </td> -->
                                    <!-- <td class="product-price">
                                        <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                            {{q.discount }}</a> -->
                                    <td class="product-price">
                                        <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                           {{q.price_after_discount | currency:'INR'}}</a>
                                    <td class="product-quantity">
                                        <form>
                                            <div class="input-counter">
                                                <a href="#"
                                                    class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                                    {{q.quantity}}</a>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="product-subtotal">
                                        <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
                                            {{q.line_total | currency:'INR'}}</a>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
            <div class="col-sm-4 p-5 float-right">
                <div class="card ">
                    <div class="card-body">
                        <h3 class="card-title align-items-start flex-column">
                            <!-- <span class="card-label fw-bolder fs-3 mb-1"> Order Summary</span> -->
                            <!-- <span class="text-muted mt-1 fw-bold fs-7">Over 500 orders</span> -->
                        </h3>
                        <table class="table table-bordered">
                            <!-- <tr>
                                <th>Total(Incl Tax):</th>
                                <td>{{deliveryChallan1?.total | currency:'INR'}}</td>
                            </tr> -->
                            <tr>
                                <th>Total Quantity:</th>
                                <td>{{deliveryChallan1?.total_quantity}}</td>
                            </tr>
                        </table>
                        <!-- <a routerLink="/checkout" class="default-btn"><i class='bx bx-shopping-bag icon-arrow before'></i><span class="label">Proceed to Checkout</span><i class="bx bx-shopping-bag icon-arrow after"></i></a> -->
                    </div>
                </div>
            </div>
            </div>

            <div class="row">

                <div class="col-xl-1">
                    <a href="/deliveryChallanList" class="btn btn-sm btn-primary cursor-pointer float-right" (click)='edit()'>Back</a>
                </div>

                <!-- <div class="col-xl-2">
                    <a href="#" class="btn btn-sm btn-primary cursor-pointer float-right" (click)='edit()'>Move To order</a>
                </div> -->

                <div class="col-xl-1">
                    <a class="btn btn-sm btn-primary cursor-pointer float-right" (click)="generatePDF('download')">Download</a>
                </div>
              </div>

        </div>
    </div>
</div>