<ng-container *ngIf="display != true">

    <p>Select a customer</p>
    <h2>Customer </h2>
    <input type="text" name="name1" [(ngModel)]="name1" (ngModelChange)="search1()" placeholder="Type name/mob"
      autocomplete='off'><br><br>
    <div>
      <select [(ngModel)]="userSelection" #mySelect>
        <option selected value> -- select a customer -- </option>
        <option *ngFor=" let c of cust" value="{{c.customer_id}}">
          <p>{{c.first_name}} {{c.second_name}} {{c.mobile}}</p>
        </option>
      </select>
      <br><br>
      <button (click)='onSelect1(mySelect.value)'>Confirm</button>
    </div>
    </ng-container>

    <div class="d-flex flex-column py-2 p-5">
    <div class="fs-6 fw-bold text-gray-600">
    <div style=" padding-inline: 10px 10px 10px 10px" style="display: inline-block;  padding-inline: 10px">
    <h2>Customer</h2>
      {{custDet[0]?.first_name}} {{custDet[0]?.second_name}} <br/>
      {{custDet[0]?.mobile}}<br/>
    </div>
    </div>
    </div>
    <br><br>

    
    <ng-container *ngIf= "addressAdded != true">


    <ng-container *ngIf="display == true">
      <!-- <div class="col-sm-9">
        <div class="card">
          <div class="card-body rounded m-5 bg-light"> 
    <h2>Customer</h2>
      <p>{{custDet[0]?.first_name}} {{custDet[0]?.second_name}} </p>
      <p>{{custDet[0]?.mobile}}</p>
      </div>
      </div>
      </div> -->


      <div class="col-sm-12">
        <div class="card">
          <div class="card-body m-5 rounded bg-light"> 
    
    <h2>Inputs</h2>

    <div class="form-floating mb-7">
      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="data.Branch" placeholder="Branch"/>
      <label for="floatingInput">Branch</label>
  </div>


    <div class="form-floating mb-7">
      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="data.Salution" placeholder="Salution"/>
      <label for="floatingInput">Salution</label>
  </div>


    <div class="form-floating mb-7">
      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="data.FirstName" placeholder="First Name"/>
      <label for="floatingInput">First Name</label>
  </div>


    <div class="form-floating mb-7">
      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="data.SecondName" placeholder="Second Name"/>
      <label for="floatingInput">Second Name</label>
  </div>


    <div class="form-floating mb-7">
      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="data.CompanyName" placeholder="Company Name"/>
      <label for="floatingInput">Company Name</label>
  </div>


    <div class="form-floating mb-7">
      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="data.GSTIN" placeholder="GSTIN"/>
      <label for="floatingInput">GSTIN</label>
  </div>


    <div class="form-floating mb-7">
      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="data.AddressLine1" placeholder="Address Line 1"/>
      <label for="floatingInput">Address Line 1</label>
  </div>


    <div class="form-floating mb-7">
      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="data.AddressLine2" placeholder="Address Line 2"/>
      <label for="floatingInput">Address Line 2</label>
  </div>


    <div class="form-floating mb-7">
      <input type="email" class="form-control" id="floatingInput" [(ngModel)]="data.City" placeholder="City"/>
      <label for="floatingInput">City</label>
  </div>


    <div class="form-floating mb-7">
      <input type="email" class="form-control" [(ngModel)]="data.Pincode" placeholder="Pincode"/>
      <label for="floatingInput">Pincode</label>
  </div>
    <!-- <input  [(ngModel)]="data.State" placeholder="State"> -->
    <p>State</p>
    <select 
    class="form-select "
    #mySelect1 (change)='onStateSelect(mySelect1.value)'>
        <option
        value="{{s.id_state}}"
        *ngFor=" let s of states"
        [selected]="s.id_state == adminDetail?.state_id"
        >{{s.name}}</option>
    </select>
    <br>
    <!-- <input  [(ngModel)]="country_id" placeholder="Country"> -->
    <p>Country</p>
    
    <select 
    class="form-select"
    #mySelect (change)='onSelect(mySelect.value)'>
        <option
        value="{{v.id_country}}"
        *ngFor=" let v of countries"
        [selected]="v.id_country == adminDetail?.country_id"
        >{{v.name}}</option>
    </select>
    <br>
    <div class="form-floating mb-7">
      <input type="email" class="form-control" [(ngModel)]="data.Landline" placeholder="Landline"/>
      <label for="floatingInput">Landline</label>
  </div>
    <div class="form-floating mb-7">
      <input type="email" class="form-control" [(ngModel)]="data.Mobile" placeholder="Mobile"/>
      <label for="floatingInput">Mobile</label>
  </div>

    <div class="form-floating mb-7">
      <input type="email" class="form-control" [(ngModel)]="data.WhatsApp" placeholder="WhatsApp"/>
      <label for="floatingInput">WhatsApp</label>
  </div>

    </div>
    </div>
    </div>
    
    <br><br>
    
    
    <a
    class="btn btn-sm btn-primary cursor-pointer m-5"
    (click)="add()">Add</a>
    </ng-container>
  </ng-container>




    <ng-container *ngIf="addressAdded == true">
      <h4>Customer Address Added successfully</h4>
    </ng-container>

    
    